# API kulcsok
TMDB_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
DISCOGS_TOKEN=

# qBittorrent
QB_URL=http://127.0.0.1:8080
QB_USER=
QB_PASS=

# nCore / torrent
NCORE_UPLOAD_URL=https://ncore.pro/upload.php
NCORE_ANNOUNCE_URL=

# Lokális útvonalak
NCORE_UPLOAD_BASE=
MUSIC_WATCH_DIR=
QBIT_SAVE_ROOT=
PYTHON_BIN=
